!!!
%html
  %head
    %title Authentication Successful
    :javascript
      var notify = function () {
        window.opener.postMessage({ command: 'auth_successful' }, '*');
      };
  %body{:onload => "notify()"}
    %p
      Completing authentication...
