!!!
%html
  %head
    %title Authentication Successful
    :coffee
      window.parent.backend.authenticate () =>
        window.close()
  %body{:onload => "notify()"}
    %p
      Completing authentication...
