!!!
%html
  %head
    %title Authentication Successful
    :javascript
      window.parent.backend.authenticate(function() {
        window.close()
      });
  %body{:onload => "notify()"}
    %p
      Completing authentication...
