!!!
%html
  %head
    %title Authentication Successful
    :javascript
      var notify = function () {
        window.parent.postMessage({ command: 'close_this' }, '*');
      };
  %body{:onload => "notify()"}
    %p
      Completing authentication...
