!!!
%html
  %head
    %title Hello
  %body
    %p
      Hello.  The time is #{@time}.
    %p
      - @providers.each do |provider|
        %a{:href => "/auth/#{provider}"} Log in with #{provider}
    %p
      %a{:href => '/protected'} This link
      is protected.
