!!!
%html
  %head
    %title Hello
  %body
    %p
      Hello.  The time is
      = @time
    %p
      %a{:href => '/auth/google_oauth2'} Log in with Google
    %p
      %a{:href => '/protected'} This link
      is protected.
